.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  line-height: 0.5px;
  color: black;
}
.mainPage_header {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 15px;
}
.mainPage_subTitle {
  font-size: 2rem;
  font-weight: 800;
}
.mainPage_details {
  font-size: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 20px;
  color: black;
}
.MainPageButton {
  padding: 15px;
  margin: 30px;
  width: 180px;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 20px;
  outline: none;
  font-size: 1.2rem;
  filter: drop-shadow(0 0 0.75rem rgb(243, 180, 202));
}
@media screen and (max-width: 900px) {
  .mainPage_header {
    letter-spacing: 2px;
    font-size: 4rem;
  }
}
